
*{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

html, body{
	height: 100%;
}

body{
	background-color: #000000;
	overflow-y: hidden;
	display: flex;
	font-family: sans-serif;
	color: #FFFFFF;
}

#controls{
	background-color: #222222;
	width: 20%;
	padding: 10px;
}

#container{
	text-align: center;
	flex-grow: 1;
}

#canvas{
	background-color: #000088;
	
	image-rendering: optimizeSpeed;             /* Older versions of FF          */
	image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
	image-rendering: -webkit-optimize-contrast; /* Safari                        */
	image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
	image-rendering: pixelated;                 /* Awesome future-browsers       */
	-ms-interpolation-mode: nearest-neighbor;   /* IE                            */
}

#slice{
	display: none;
}

#texture{
	display: none;
}

#opacityControls{
	background-color: #1A1A1A;
	border: 1px #444444 solid;
}

a{
	color: #FFAA00;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

h1{
	margin-bottom: 10px;
	text-shadow: 1px 1px 0px #000000;
	font-weight: 300;
}

h2{
	font-weight: 300;
	margin-bottom: 10px;
	font-size: 21px;
}
