
*{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

html, body{
	height: 100%;
}

body{
	background-color: #000000;
	overflow-y: hidden;
	display: flex;
	font-family: sans-serif;
	color: #FFFFFF;
}

a{
	color: #FFAA00;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

h1{
	text-shadow: 1px 1px 0px #000000;
	font-weight: 300;
}

h1:hover{
	text-decoration: none;
}

h2{
	font-weight: 300;
	margin-bottom: 10px;
	font-size: 21px;
}

hr{
	border-color: #665544;
	margin: 5px 0px;
}

#controls{
	background-color: #222222;
	width: 20%;
	padding: 10px;
}

#container{
	text-align: center;
	flex-grow: 1;
}

#canvas{
	background-color: #000088;
	
	image-rendering: optimizeSpeed;             /* Older versions of FF          */
	image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
	image-rendering: -webkit-optimize-contrast; /* Safari                        */
	image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
	image-rendering: pixelated;                 /* Awesome future-browsers       */
	-ms-interpolation-mode: nearest-neighbor;   /* IE                            */
}

#slice{
	display: none;
}

#texture{
	display: none;
}

#opacityControls{
	background-color: #1A1A1A;
	border: 1px #444444 solid;
}

input[type="checkbox"]{
	margin-right: 7px;
}

.homebrewSelect{
	width: 100%;
	height: 30px;
	position: relative;
	z-index: 10000;
}

.homebrewSelect > li{
	display: none;
	background-size: 100% 100%;
	background-origin: content-box;
	background-repeat: no-repeat;
	width: 100%;
	height: 30px;
	background-color: #1A1A1A;
	border: 1px #444444 solid;
	margin-bottom: -1px;
	padding: 3px;
	cursor: pointer;
}

.homebrewSelect > li:hover{
	background-color: #333333;
}

.homebrewSelect.opened > li{
	display: block;
}

.homebrewSelect > .active{
	display: block;
}

#colorSelect > li[value="incandescent"]{
	background-image: url(./colorMappings/incandescent.png);
}

#colorSelect > li[value="colors1"]{
	background-image: url(./colorMappings/colors1.png);
}

#colorSelect > li[value="rainbow"]{
	background-image: url(./colorMappings/rainbow.png);
}

#colorSelect > li[value="rainbow-inverted"]{
	background-image: url(./colorMappings/rainbow-inverted.png);
}

#colorSelect > li[value="blackwhite"]{
	background-image: url(./colorMappings/blackwhite.png);
}

#colorSelect > li[value="whiteblack"]{
	background-image: url(./colorMappings/whiteblack.png);
}

#colorSelect > li[value="blackwhite-compact"]{
	background-image: url(./colorMappings/blackwhite-compact.png);
}

#colorSelect > li[value="rainbows"]{
	background-image: url(./colorMappings/rainbows.png);
}

#colorSelect > li[value="horizon"]{
	background-image: url(./colorMappings/horizon.png);
}

#colorSelect > li[value="skyline"]{
	background-image: url(./colorMappings/skyline.png);
}

#colorSelect > li[value="white"]{
	background-image: url(./colorMappings/white.png);
}

#colorSelect > li[value="blue"]{
	background-image: url(./colorMappings/blue.png);
}




















